.haut-de-page {
    height: 400px;
    background: url('../image/nuit.jpg') center center/cover no-repeat;
    width: 100%;
    padding: 0;
    border: none;
}

.timeline {
    max-width: 800px;
    margin: 0 auto;
}

.etape {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.date {
    background: #1100ff;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    min-width: 120px;
    text-align: center;
}

.content {
    margin-left: 20px;
    padding: 15px;
    background: #000000;
    border-radius: 10px;
    flex: 1;
}